PORT=3000
AWS_ACCESS_KEY="483984398439kssnf"
AWS_SECRET_KEY="shefiehfiefh"
DATABASE_URL="postgresql://postgres:my_secret@localhost:5432/testdb?schema=public"
BETTER_AUTH_SECRET="TfW1WF0sQ4edinvwLpCzfNbFgjMI0QMh"
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app